@font-face {
    font-family: Montserrat_Bold;
    src: url(font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat_Semi;
    src: url(font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat_Reg;
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat_Light;
    src: url(font/Montserrat-Light.ttf);
}


*{
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    text-decoration: none;
    font-size: 15px;
    font-family: Montserrat_Reg;
}

nav {
    background-color: #D9D9D9;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shred_nav_logo {
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li{
    height: 93px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: bold;
}

nav a.active{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: bold;
}

nav li:first-child{
    margin-right: auto;
}


.su_button, .git_button {
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 15px;
    font-family: Montserrat_Reg;
    border-radius: 36pt;
}

.su_button:hover, .git_button:hover {
    background-color: #0778B8;
    color: white;
}

.nav_sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #d9d9d915;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile_Menu{
    display: none;
}

.nav_sidebar li{
    width: 100%;
}

.nav_sidebar a{
    width: 100%;
}

@media(max-width: 1008px){
    .hideOnMobile {
        display: none;
    }

    .mobile_Menu {
        display: block;
    }

    .au1_container, .au3_container, .ins_img_containe {
        flex-direction: column !important;

    }

    .au2_container{
        flex-direction: column-reverse !important;
    }

    

}

@media(max-width: 1195px){
    


}

@media (max-width: 465px){
    .nav_sidebar{
        width: 100%;
    }

    .au1_type > h1, .au1_type > h1, .au3_type > h1, .ins_text > h2 {
        font-size: 48px !important;
    }
}

@media (max-width: 374px){
    .au1_type > h1, .au1_type > h1, .au3_type > h1, .ins_text > h2{
        font-size: 35px !important;
    }
}

.au1_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.au1_type{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0%;
    max-width: 436px;
    margin: 1px;
    text-align: right;
}

.au1_type > h1{
    font-size: 55px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Montserrat_Semi;
    
}

.au1_type > p{
    font-size: 18px;
    padding-bottom: 4%;
}

.au1_img{
    padding: 2%;
    display: flex;
    max-width: 628px;
    margin: 10px;
    align-items: center;
    min-width: none;
}

.au1_img > img{
    max-width: 100%;
    box-shadow: -100px -20px 0px #6BB0CD;
    padding-bottom: 2%;
}

.au2_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.au2_type{
    padding: 3%;
    max-width: 436px;
    margin: 1px;
    text-align: left;
}

.au2_type > h1{
    font-size: 55px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Montserrat_Semi;
    
}

.au2_type > p{
    font-size: 18px;
    padding-bottom: 4%;
}

.au2_img{
    padding: 2%;
    display: flex;
    max-width: 628px;
    margin: 10px;
    align-items: right;
    min-width: none;
}

.au2_img > img{
    max-width: 100%;
    box-shadow: 100px 40px 0px #B46BCD;
    padding-bottom: 2%;
}

.au3_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.au3_type{
    padding: 3%;
    max-width: 436px;
    margin: 1px;
    text-align: left;
}

.au3_type > h1{
    font-size: 55px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Montserrat_Semi;
    
}

.au3_type > p{
    font-size: 18px;
    padding-bottom: 4%;
}

.au3_img{
    padding: 2%;
    display: flex;
    max-width: 628px;
    margin: 10px;
    align-items: right;
    min-width: none;
}

.au3_img > img{
    max-width: 100%;
    box-shadow: -100px -40px 0px #CD836B;
    padding-bottom: 2%;
}

.ins_container{
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.ins_text{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 3%;
    margin-top: -1%;
}

.ins_text > h2{
    font-size: 55px;
    padding-bottom: 2%;
    font-family: Montserrat_Semi;
}

.ins_text > p{
    font-size: 18px;
    font-family: Montserrat_Reg;
}

.ins_img_container{
    margin-top: -6%;
    display: flex;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ins_img{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.ins_img > img{
    width: 224px;
    height: 224px;
    padding-bottom: 10%;
    clip-path: circle();
}

.footer {
    left: 0;
    bottom: 0;
    background-color: #D9D9D9;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 8%;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.links{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

.links a:hover{
    font-family: Montserrat_Semi;
}

.foot_section{
    padding-right: 3.5%;
}

.foot_section h3{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Montserrat_Semi;
}

.social_links{
    display: flex;
    align-items: center;
} 

.social_links a{
    padding: 1%;
    margin-right: 10px;
}

.right_foot_section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    justify-content: center;
    text-align: right;
}

@media (max-width: 661px) {
    .footer{
        flex-direction: column;
    }

    .foot_section h3{
        margin-top: 10px;
    }

    .right_foot_section{
        margin-top: 35px;
        margin-left: 0;
        margin-right: auto;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
        float: left;
    }
}