@font-face {
    font-family: Montserrat_Bold;
    src: url(font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat_Semi;
    src: url(font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat_Reg;
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat_Light;
    src: url(font/Montserrat-Light.ttf);
}


*{
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    text-decoration: none;
    font-size: 15px;
    font-family: Montserrat_Reg;
}

nav {
    background-color: #D9D9D9;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shred_nav_logo {
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li{
    height: 93px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: bold;
}

nav a.active{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: bold;
}

nav li:first-child{
    margin-right: auto;
}


.su_button, .git_button  {
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 15px;
    font-family: Montserrat_Reg;
    border-radius: 36pt;
}

.su_button:hover, .git_button:hover {
    background-color: #0778B8;
    color: white;
}

.submit_news_but{
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 15px;
    font-family: Montserrat_Reg;
    border-radius: 36pt;
    margin-top: 4%;

    float: right;
}

.submit_news_but:hover{
    background-color: #0778B8;
    color: white;

}

.nav_sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #d9d9d915;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px) !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile_Menu{
    display: none;
}

.nav_sidebar li{
    width: 100%;
}

.nav_sidebar a{
    width: 100%;
}

@media(max-width: 1008px){
    .hideOnMobile {
        display: none;
    }

    .mobile_Menu {
        display: block;
    }

    .com1_container {
        flex-direction: column-reverse !important;
        padding-bottom: 50px;
    }

    .com2_container{
        flex-direction: column !important;
    }

    .com3_container{
        flex-direction: column !important;
    }

    .com2_img{
        margin-right: 80px !important;
    }

    

}


@media (max-width: 465px){
    .nav_sidebar{
        width: 100%;
    }

    .com1_type > h1{
        font-size: 48px !important;
    }

    .com2_type > h1, .com3_type > h1 {
        font-size: 36px !important;
    }

    .com2_type > p, .com3_type > p {
        font-size: 16px !important;
    }
    
    .com2_img{
        margin-right: 85px !important;
    }
}

@media (max-width: 374px){
    .com1_type > h1, .com1_type > h1, .com3_type > h1{
        font-size: 35px !important;
    }
}

.com1_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -50px;
}

.com1_type{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    max-width: 436px;
    margin: 1px;
    text-align: right;
}

.com1_type > h1{
    font-size: 55px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Montserrat_Semi;
    
}

.com1_type > p{
    font-size: 18px;
    padding-bottom: 4%;
}

.com1_img{
    padding: 2%;
    display: flex;
    max-width: 628px;
    margin: 10px;
    align-items: center;
    min-width: none;
}

.com1_img > img{
    max-width: 100%;
    box-shadow: -100px -25px 0px #CDBD6B;
    padding-bottom: 2%;
}

.com2_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4%;
}

.com2_type{
    padding: 3%;
    
    max-width: 436px;
    min-width: 300px;
    margin: 1px;
    text-align: left;
    background-color: #F1F1F1;
}

.com2_type > h1{
    font-size: 55px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Montserrat_Semi;
    
}

.com2_type > p{
    font-size: 18px;
    padding-bottom: 4%;
}

.com2_img{
    padding: 6%;
    display: flex;
    max-width: 628px;
    min-width: 300px;
    margin: 10px;
    align-items: center;
    min-width: none;
    background-color: #6B98CD;
    margin-left: 90px;
    justify-content: center;
    flex-direction: column;
}



.com2_img > img{
    max-width: 100%;
    padding-bottom: 2%;
    align-items: center;
    justify-content: center;
}

.com3_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.com3_type{
    padding: 1%;
    max-width: 436px;
    margin: 1px;
    text-align: left;
}

.com3_type > h1{
    font-size: 55px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Montserrat_Semi;
    
}

.com3_type > p{
    font-size: 18px;
    padding-bottom: 4%;
}

.com3_img{
    padding: 2%;
    display: flex;
    max-width: 628px;
    margin: 10px;
    align-items: right;
    min-width: none;
}

.com3_img > img{
    max-width: 100%;
    box-shadow: 100px -40px 0px #B46BCD;
    padding-bottom: 2%;
}

.com3_qr{
    display: flex;
    align-items: right;
    min-width: none;
    padding-bottom: 5%;
}

.com3_qr > img{
    width: 100%;
    box-shadow: 80px 40px 0px #736BCD;
}


.disc_list{
    padding-bottom: 5%;
    padding-left: 5%;
    font-size: 16px;
}

.name_field, .email_field {
    font-family: Montserrat_Reg;
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}

.form_logo{
    display: flex;
    max-width: 150px;
}

.dn_button{
    border: none;
    color: black;
    background-color: #F1F1F1;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 15px;
    font-family: Montserrat_Semi;
    border-radius: 36pt;

    width: 100%;
}

.dn_button:hover{
    background-color: #000000;
    color: white;
}

.dn_button > img{
    margin-right: 10px;
}

.footer {
    left: 0;
    bottom: 0;
    background-color: #D9D9D9;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 8%;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.links{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

.links a:hover{
    font-family: Montserrat_Semi;
}

.foot_section{
    padding-right: 3.5%;
}

.foot_section h3{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Montserrat_Semi;
}

.social_links{
    display: flex;
    align-items: center;
} 

.social_links a{
    padding: 1%;
    margin-right: 10px;
}

.right_foot_section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    justify-content: center;
    text-align: right;
}

@media (max-width: 661px) {
    .footer{
        flex-direction: column;
    }

    .foot_section h3{
        margin-top: 10px;
    }

    .right_foot_section{
        margin-top: 35px;
        margin-left: 0;
        margin-right: auto;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
        float: left;
    }
}