@font-face {
    font-family: Montserrat_Bold;
    src: url(font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat_Semi;
    src: url(font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat_Reg;
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat_Light;
    src: url(font/Montserrat-Light.ttf);
}


*{
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    text-decoration: none;
    font-size: 15px;
    font-family: Montserrat_Reg;
}

nav {
    background-color: #D9D9D9;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shred_nav_logo {
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li{
    height: 93px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: bold;
}

nav a.active{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: bold;
}

nav li:first-child{
    margin-right: auto;
}


.su_button {
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 15px;
    font-family: Montserrat_Reg;
    border-radius: 36pt;
}

.su_button:hover {
    background-color: #0778B8;
    color: white;
}

.nav_sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #d9d9d915;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile_Menu{
    display: none;
}

.nav_sidebar li{
    width: 100%;
}

.nav_sidebar a{
    width: 100%;
}

@media(max-width: 1008px){
    .hideOnMobile {
        display: none;
    }

    .mobile_Menu {
        display: block;
    }
}

@media (max-width: 450px){
    .nav_sidebar{
        width: 100%;
    }
}